<%= form_tag sessions_path do %>
<div id="default" class="dialog">
<% if current_user %>
        Logged in as <%= current_user.email %>.<br>
        <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to "Sign up", signup_path %> or
        <%= link_to "Log in", login_path  %>.
      <% end %>
      </div>
<% end %>