<div class="container">
<h1 class="logo"><%= image_tag("ironspot.gif") %></h1>
<div class="content">

<div id="login" class="dialog">
<%= form_tag sessions_path do %>
		<fieldset>
			<div class="field">
				<%= label_tag (:email, "Email") %>
    			<%= text_field_tag :email, params[:email], :class => 'text', :size => 43, :id => 'email' %>
			</div>
			<div class="field">
			    <%= label_tag (:password, "Password") %>
   				<%= password_field_tag :password, params[:password], :class => 'text password',  :size => 43, :id => 'password' %>
			</div>
			<div class="field">
    			<%= label_tag :remember_me %>
			    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    		</div>
		</fieldset>
		<fieldset class="submit">
			<p>
				<a href="https://api.heroku.com/auth/reset_password">Reset Password</a>
			</p>
			<div class="submit"><%= submit_tag "Log In", :class => 'submit' %></div>
		</fieldset>
<% end %>
</div>

<a href="https://api.heroku.com/signup" id="message">
<span>Learn more about ironspot...</span>
</a>

</div>

</div>
</div>
</div>